<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <hostingEnvironment shadowCopyBinAssemblies="false" />
    <authentication mode="None" />
    <authorization>
      <allow users="*" />
    </authorization>
    <compilation debug="true" />
    <httpRuntime />
    <httpCookies httpOnlyCookies="true" />
    <globalization responseEncoding="utf-8" fileEncoding="utf-8" requestEncoding="utf-8" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/Pages/Errors/ErrorPage.aspx">
      <error statusCode="404" redirect="~/Pages/Errors/ErrorPage.aspx" />
    </customErrors>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
